/*
Color Pallette
#d9eeec - soft white
#5ca4bd - light blue
#3c70a4 - 'stronger' blue
#da9833  - 'orange/beige (?)
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #303030;
  background-color: #d9eeec;
  font-family: "Raleway", sans-serif;
}

.navbar {
  font-family: "Dosis", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  background-color: #3c70a4;
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3c70a4;
}

.navbar li {
  float: left;
  transition: all 300ms;
}

.navbar li:hover {
  background-color: #da9833;
}

.navbar li a {
  display: block;
  color: #d9eeec;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.login-form {
  padding: 20px;
  font-size: 2rem;
  border-radius: 8px;
  margin: 10px !important;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.login-form-li {
  padding: 20px;
  width: 300px;
}

.login-form-li:hover {
  background-color: #3c70a4 !important;
}

.login-btn {
  font-size: 2rem;
}

.form-control {
  font-size: 1.8rem;
}

.banner {
  width: 100%;
  background-color: #5ca4bd;
  height: 320px;
  font-family: "Dosis", sans-serif;
  color: #d9eeec;
  text-align: right;
  padding: 150px 30px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  white-space: nowrap;
}

.banner-title {
  font-size: 6.5rem;
  margin: 20px;
  z-index: 2;
  position: relative;
}

.banner-description {
  font-size: 3rem;
  z-index: 2;
  position: relative;
  margin-bottom: 60px;
}

.banner-dog {
  height: auto;
  max-width: 400px;
  min-width: 300px;
  position: relative;
  transform: translateY(15%);
}

.view-section {
  padding: 30px 10%;
}

.view-section h2 {
  font-family: "Dosis", sans-serif;
  font-size: 4.5rem;
  margin-bottom: 40px;
}

.cards {
  background-color: #f8f8f8;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: auto;
  text-decoration: none;
  color: #303030;
  white-space: nowrap;
}

.card-product {
  margin-top: 15px;
  font-size: 2.2rem;
}

.card-price {
  font-size: 1.8rem;
  color: #616161;
}

.promo {
  background-color: #da9833;
}

.promo h2 {
  color: #d9eeec;
}

.promo-list {
  display: flex;
  justify-content: space-around;
}

.promo .card {
  max-width: 250px;
  height: auto;
}

.promo .card-product {
  font-size: 2.5rem;
}

.promo .card-price {
  font-size: 2rem;
  color: #e61010;
}

.promo-card-img {
  width: 100%;
  height: auto;
  justify-self: center;
}

.products {
  padding: 30px 15px;
}

.products h2 {
  margin-left: calc(10% - 15px);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-container {
  margin-top: 100px;
  border: 1px solid #bebebe;
  border-radius: 8px;
  padding: 30px 20px !important;
}

.admin-container .row {
  margin: 0;
}

.admin-section-title {
  margin: 20px 0;
}

.admin-section-option {
  padding: 10px;
  display: flex;
  align-items: center;
  transition: all 0.15s;
}

.admin-section-option:hover {
  color: #5ca4bd;
  border-color: #5ca4bd;
}

.divider {
  background-color: grey;
  height: 1px;
  width: 100%;
  /* margin-right: 20px; */
}

.time-select {
  margin-top: 30px;
}

.time-select .custom-select {
  font-size: 20px;
}

.schedule-button {
  text-align: center;
  margin-top: 20px;
}
.schedule-button button {
  font-size: 20px;
}

.pet-container {
  padding: 20px;
  border: 1px solid #bebebe !important;
}

.pet-schedule {
  list-style-type: initial;
  margin-left: 40px;
}

/* Calendar */

ul {
  list-style-type: none;
}

/* Month header */
.month {
  padding: 20px 25px;
  width: 100%;
  background: #3c70a4;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #5ca4bd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
  color: #777;
}

.days li:hover {
  cursor: pointer;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

.days .full-day {
  color: red !important;
  font-weight: 900;
}

.days .full-day:hover {
  cursor: default;
}

@media only screen and (max-width: 840px) {
  .banner {
    text-align: center;
    justify-content: center;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.397);
  }

  .banner-dog {
    position: absolute;
    left: 10px;
    transform: translateY(-75%) scale(0.7);
    filter: opacity(0.9);
  }
}

@media only screen and (max-width: 620px) {
  .banner {
    text-shadow: 2px 1px rgba(0, 0, 0, 0.397);
  }

  .banner-title {
    font-size: 4rem;
  }

  .banner-description {
    white-space: normal;
    font-size: 2.2rem;
  }

  .card {
    margin: 10px;
    padding: 20px;
    width: 120px;
  }

  .card-product {
    font-size: 1.4rem;
  }

  .card-price {
    font-size: 1.2rem;
  }

  .promo .card-product {
    font-size: 1.7rem;
  }

  .promo .card-price {
    font-size: 1.2rem;
  }

  .section h2 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 370px) {
  .banner {
    height: 300px;
  }

  .banner-dog {
    transform: translateY(-68%) scale(0.5);
  }

  .banner-title {
    font-size: 3rem;
  }

  .banner-description {
    white-space: normal;
    font-size: 1.7rem;
  }

  .promo-list {
    flex-wrap: wrap;
  }

  .promo .card {
    width: 170px;
  }
}
